
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=favorite");


* {
    /* margin: 0; */
    padding: 0;
    margin: 0px 0px;
    font-family: Roboto, sans-serif;
}


.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    /* grid-template-columns: minmax(1fr 2fr); */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 0px;
    overflow-x: hidden; 
    
}

.header {
    height: min(160px);
    padding: 18px;
    min-width: fit-content;    
    grid-column: 2 / 6;
    grid-row: 1;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 50px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    /* justify-content: start;
    align-items: start; */
}

.sidebar {
    /* width: min(200px); */
    height: 100%;
    font-size: xx-large;
    min-width: fit-content;
    padding: 20px;
    /* background-color: rgba(7, 24, 121, 0.5); */
    background: rgb(43,42,55);
background: linear-gradient(360deg, rgba(43,42,55,1) 5%, rgba(79,113,185,1) 37%, rgba(31,198,179,1) 100%);
    grid-column: 1 / 2;
    grid-row: 1 / 6;
}
.sidebar-links {
    display: flex;
flex-direction: column;
text-decoration: none;
}

.content {
    grid-column: 2 / 5;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 2fr));
    min-width: 591px;
    gap: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px 40px;
    padding: 10px;
}

.content > .cards {
    height: 250px;
    width: 250px;
    /* border: 2px black solid; */
}

.extra-top {
    height: 300px;
    width: 275px;
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    flex-grow: 1;
    border: red 2px solid;
    margin-bottom: 20px;
}

.extra-bottom {
    margin-top: 20px;
    height: 300px;
    width: 275px;
    border: green 2px solid;
}


input[type="search"] {
    width: 80%;
    max-height: 25px;
    border-radius: 4px;
    padding-left: 10px;
    font-weight: bold;
}


.left-column {
    grid-row: 1 / 2 ;
    grid-column: 1;
}

.right-top {
    grid-row: 1;
    grid-column: 2;
   
   }

  .right-bottom {
    grid-row: 2;
    grid-column: 2;
    
  } 

  .left-top {
    padding-left: 20px;
    grid-row: 1;
    grid-column: 1;
   }

  .left-bottom {
    padding-left: 20px;
    grid-row: 2;
    grid-column: 1;
    
  } 
  .intro {
    display: flex;
    flex-direction: column;
  }

  .header > div {
    display: flex;
    flex-direction: row;
    gap:calc(30% - 1em);
  }

.header p {
    font-size: large;
}
.cards {
    border-radius: 4px;
    padding: 5px; 
    border-style: solid;
    border-width: 3px;
  border-left-color: coral;
}

button {
    max-height: 25px;
    padding: 5px 5px 5px 5px;
    width: fit-content;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    border-radius: 20%;
    border: 0px;
    font-size: medium;
    background-color: rgb(47, 170, 181);
    
}

img {
    border-radius: 50%;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.notifications {
    background-color: rgb(255, 255, 255, 0.1);
    border: 0px;
    color: black;
}

.sidebar-links > a {
    text-decoration: none;
    color: black;
}

/* .twitter-timeline {
    overflow-y: hidden;
} */